{% extends 'generic/object.html' %}
{% load helpers %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">CVE</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">CVE ID</th>
          <td>{{ object.cve_id }}</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>{{ object.name|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Severity</th>
          <td><span class="badge text-bg-{{ object.severity|lower }}">{{ object.get_severity_display }}</span></td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td>{{ object.get_status_display }}</td>
        </tr>
        <tr>
          <th scope="row">CVSS score</th>
          <td>{{ object.cvss_score|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Published</th>
          <td>{{ object.published_date|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Link</th>
          <td>{{ object.link|linkify|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">Affected software</th>
          <td>
            {% for sv in object.affected_software.all %}
              {{ sv|linkify }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              <span class="text-muted">None</span>
            {% endfor %}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col col-md-6">
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>

<div class="row mb-3">
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">Vulnerability Instances ({{ vulnerabilities_table.paginator.count }})</h5>
      {% render_table vulnerabilities_table 'inc/table.html' %}
      {% include 'inc/paginator.html' with table=vulnerabilities_table paginator=vulnerabilities_table.paginator page=vulnerabilities_table.page %}
    </div>
  </div>
</div>
{% endblock %}
